body {
    font-family: 'Maven Pro', sans-serif;
    color: gray;
}

.body-dash {
  display: flex;
  width: 100%;
}

.dropdown-content {
    display: none;
}
.navbar-left {
    min-height: 190vh;
    flex: .1;
    display: flex;
    border-right: 1px solid black;
}

.navbar-left ul {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-top: 20px;
  }

  .navbar-left ul li {
    margin-bottom: 20px;
    list-style-type: none;
    cursor: pointer;
  }

  .sort-input {
      float: right;
  }

  .navigation-bar {
      height: 50px;
      background-color: #fff;
      width: 100%;
      margin-top: 40px;
      border-bottom: 1px solid black;
      box-shadow:0px 1px 1px gray;
      position: fixed;
      z-index: 2;
  }
  .navigation-bar button:hover + .body-dash {
    background-color: red;
  }

  .navigation-bar button {
      font-size: 24px;
      padding: 10px;
      background-color: white;
      border: none;
  }

  .navigation-bar h1 {
      float: right;
      margin: 15px 90px 0 0;
      font-size: 18px; 
  }

  .fa-caret-down {
      color:#00b8a4;
  }

  .dashboard {
    flex: 2.5;
    padding: 10px;
    max-width: 1065px;
    margin-top: 90px;
  }

  .cart {
      text-align: center;
      position: fixed;
      right: 0;
      border-left: .2px solid gray;

      min-height: 85vh;
      width: 320px;
      margin-top: 100px;
  }

  .empty-cart-image {
      margin-top: 10px;
      max-width: 299px;
  }

  .cart-checkout {
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 24px;
      width: 350px;
      background-color: #00b8a4;
  }

  
  .dashboard-product-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(50px);
      grid-gap: 15px;
    }
    
    .dashboard-product {
        padding: 5px;
        margin: 10px;
        max-width: 300px;
        text-align: center;
        position: relative;
        height: 300px;
        
}

  .dashboard-product-image {
      max-height: 125px;
  }

  .dashboard-product button {
      /* position: absolute; */
      /* bottom: 0; */
      background-color: #00b8a4;
      font-size: 20px;
      color: white;
      border-radius: 30%;
      width: 75px;
      /* margin-right: 30px; */
  }
  .dashboard-product i {
    /* position: absolute; */
    bottom: 0;
    right: 0;
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item {
    margin-bottom: 2px;
    text-align: left;
    font-size: 24px;
}

.cart-item p {
    margin: 0 10px;
}

.cart-item img {
    max-height: 80px;
    margin-right: 80px;
}

.price {
    color: #53cbb4;
    font-size: 20px;
    font-weight: bold;
    
}


@media (max-width: 500px) {
    .navbar-left ul {
        padding: 10px;
      }
    
    .cart {
        text-align: right;
        border: none;
        bottom: 0;
        min-height: 20px;
        width: 375px;
        background-color: purple;
    }
    .cart-checkout {
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        bottom: auto;
        font-size: 20px;
        width: 120px;
        background-color: #00b8a4;
    }
    .cart-container {
        flex-direction: row;
    }
    .cart-item {
        justify-content: center;
        align-items: center;
        display: flex;
        border: none;
        margin: 5px;
        text-align: left;
        font-size: 24px;
        margin-top: -40px;
    }

    .dashboard {
        padding: 5px;
        margin-top: 9px;
        max-width: 280px;
      }
      .dashboard-product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(50px);
        grid-gap: 15px;
      }
    .dashboard-product {
        padding: 5px;
        margin-top: 25px;
        margin-right: 25px;
        max-width: 90px;
        text-align: center;
        position: relative;
        height: 300px;
    }
    .turnOff {
        display: none;
    }
    .dashboard-product button {
        position: relative;
        background-color: #00b8a4;
        font-size: 20px;
        color: white;
    }
    .price {
        font-size: 24px;
        
    }
    .dashboard-product i {
        position: relative;
        bottom: 0;
        right: 0;
    }
}