.confirmation-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px;

}

.product {
    display: flex;
    align-items: center;
    min-width: 700px;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
}



.product img {
    max-width: 200px;
}

@media (max-width: 500px) {
    .confirmation-body {
        min-width: 300px;
        margin: 30px;
    }
    .product {
        min-width: 300px;
    }
    .product img {
        max-width: 80px;
    }

}