.navbar-main {
  display: flex;
  background-color: #00b8a4;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}

.navbar-main h1 {
  margin-left: 50px;
  color: white;
}

.nav-left {
  display: flex;
  flex: 1;
}

.searchbar {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.searchbar input {
  width: 400px;
  height: 30px;
  margin-right: 5px;
}

.nav-right {
  flex: .2;
}

.nav-right button {
  margin: 0 10px;
  padding: 10px;
  font-size: 15px;
}


