.navbar-main {
  display: flex;
  background-color: #00b8a4;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
}

.navbar-main h1 {
  margin-left: 50px;
  color: white;
}

.nav-left {
  display: flex;
  flex: 1;
}

.nav-left a {
  text-decoration: none;
}

.searchbar {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.searchbar input {
  width: 700px;
  height: 30px;
}

.fa-search {
  z-index: 2;
  position: fixed;
  margin-left: 670px;
  color: gray;
  font-size: 25px;
}
.fa-grin-squint-tears {
  font-size: 30px;
  color: gold;
}
.fa-bullhorn {
  font-size: 32px;
  color: white;
}

.fa-shopping-cart {
  font-size: 32px;
  padding-top: 5px;
  color: white;
}

.nav-right {
  flex: .25;
}

.nav-right button {
  /* margin: 0 10px;
  padding: 10px; */
  font-size: 15px;
}

.dropdown {
  position: relative;
  float: left;
}

.dropdown button {
  padding: 0.7em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-style: none;
  box-sizing: border-box;
  color:#FFFFFF;
  background-color:#00b8a4;
  text-align:center;
  transition: all 0.2s;
}

.cart-button {
  padding: 0.7em 1.5em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}

.cart-button:hover {
  background-color: #00b29f;
}

.dropdown button:hover, .dropdown button:focus {
  background-color: #00b29f;
}

.dropdown-content {
  position: absolute;
  background-color: white;
  z-index: 1;
  min-width: 150px;
  border: 1px solid #00b8a4
}

.dropdown-content a {
  text-decoration: none;
}

.dropdown-content p {
  color: black;
  padding: 20px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.dropdown-content-announce {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: -180px;
  background-color: white;
  z-index: 1;
  min-width: 400px;
  border: 1px solid #00b8a4
}

.announcement-item {
  margin-bottom: 15px;
  text-align: left;
}

.announcement-image {
  max-width: 50px;
}

.login-dropdown {
  color: black;
  padding: 20px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.show {
  display: block;
}

@media (max-width: 1300px) {
  .fa-grin-squint-tears {
    font-size: 20px;

  }
  .fa-bullhorn {
    font-size: 20px;

  }
  
  .fa-shopping-cart {
    font-size: 20px;

  }
}


@media (max-width: 500px) {
  .searchbar input{
    width: 120px;
  }
  .searchbar {
    margin-left: 15px;
  }
  .navbar-main h1 {
    margin-left: 5px;

  }
  .cart-button {
    padding: 0.7em 1.7em;
    margin: 0 0.3em 0.3em 0;

  }
  .dropdown-content {
    right: 0;
  }
  .fa-grin-squint-tears {
    display: none;
  }

  .fa-bullhorn {
    display: none;
  }

  .fa-shopping-cart {
    display: none;
  }
}